#login-form {
    position: absolute;
    top: 25%;
    left: 30px;
}

#login-form input:first-child {
    height: 50px;
    width: 250px;
    border: 0;
    background-color: black;
    opacity: 0.5;
    color: white;
    font-size: 20px;
}

#login-form input:last-child {
    height: 52px;
    border: 0;
    background-color: black;
    opacity: 0.5;
    color: white;
    margin-left: 5px;
}

#login-form ::placeholder {
    color: white;
    font-size: 20px;
}

#greeting {
    display: flex;
    position: absolute;
    top: 20%;
    left: 30px;
    font-size: 60px;
}
